<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:0 1rem;">
  <div class="collapse navbar-collapse" id="topheader">
    <ul class="navbar-nav mr-auto">
      <li class="hidden-xs" style="margin-top:10px;">
        <iframe
          src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/drsquatch&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21"
          scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;"
          allowtransparency="true">
        </iframe>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -110px;">
            <a class="dropdown-item" href="#">Login</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Soapscribe</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-question-circle"></i></a>
          </li>
      </ul>
  </div>
</nav>
